Add compression support

### Describe the feature or improvement you're requesting

> HTTP compression is a capability that can be built into web servers and web clients to improve transfer speed and bandwidth utilization.


### Additional context

eg.

br – Brotli, a compression algorithm specifically designed for HTTP content encoding, defined in RFC 7932 and implemented in all modern major browsers.
compress – UNIX "compress" program method (historic; deprecated in most applications and replaced by gzip or deflate)
deflate – compression based on the deflate algorithm (described in RFC 1951), a combination of the LZ77 algorithm and Huffman coding, wrapped inside the zlib data format (RFC 1950);
exi – W3C Efficient XML Interchange
gzip – GNU zip format (described in RFC 1952). Uses the deflate algorithm for compression, but the data format and the checksum algorithm differ from the "deflate" content-encoding. This method is the most broadly supported as of March 2011.[5]
identity – No transformation is used. This is the default value for content coding.
pack200-gzip – Network Transfer Format for Java Archives[6]
**zstd** – Zstandard compression, defined in RFC 8478
In addition to these, a number of unofficial or non-standardized tokens are used in the wild by either servers or clients:

bzip2 – compression based on the free bzip2 format, supported by lighttpd[7]
lzma – compression based on (raw) LZMA is available in Opera 20, and in elinks via a compile-time option[8]
peerdist[9] – Microsoft Peer Content Caching and Retrieval
rsync[10] - delta encoding in HTTP, implemented by a pair of rproxy proxies.
xpress - Microsoft compression protocol used by Windows 8 and later for Windows Store application updates. LZ77-based compression optionally using a Huffman encoding.[11]
xz - LZMA2-based content compression, supported by a non-official Firefox patch;[12] and fully implemented in mget since 2013-12-31.[13]


Thanks for writing in @croshay.  I'm not aware of compression as a feature in other APIs.  Do you have any examples I could look at?